header {position: absolute;z-index: 10;width: 100%;font-family: 'Bad Script', cursive;padding: 30px;}
 
main {flex: 1 0 auto;}

.navbar{padding: 20px 0;}

/* ABOUT PAGE CODE--------------------------------------------------------------------- */
.navbar-brands {font-weight: 800;text-transform: uppercase;font-size: 2em;color: #000000;}

.navbar-brands:hover{text-decoration: none;color: #000000;}
/*
.navbar-toggler-icon {
    -webkit-filter: invert(100%);
} */

.nav-item{font-weight: 800;text-transform: uppercase;font-family: 'Kaushan Script', cursive;}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link  {background: #262626;color: #fff;}

.navbar-light .navbar-nav .nav-item .nav-link {color: #000000;padding: 5px 20px;}

.navbar-light .navbar-toggler {border: transparent;border-radius: 0;outline: none;background: none;}
  
.navbar-light .navbar-toggler:active,
.navbar-light .navbar-toggler:focus {outline: 0;}
  
.navbar-light .navbar-toggler .icon-bar {display: block;width: 30px;height: 3px;border-radius: 2px;margin: 5px 0 5px 0;transition: all 0.2s;  }
  
.navbar-light .navbar-toggler .icon-bar {background: #ffffff;}
  
.navbar-light .navbar-toggler .icon-bar:nth-of-type(1) {transform: rotate(45deg);transform-origin: 20% 0%;  }
  
.navbar-light .navbar-toggler .icon-bar:nth-of-type(2) {opacity: 0;filter: alpha(opacity=0);}
  
.navbar-light .navbar-toggler .icon-bar:nth-of-type(3) {transform: rotate(-45deg);transform-origin: 0% 90%; }
  
.navbar-light .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {transform: rotate(0);  }
  
.navbar-light .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {opacity: 1;filter: alpha(opacity=100);}
  
.navbar-light .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {transform: rotate(0);}

.banner h2{margin: 0;padding: 0;font-size: 2.6em;font-weight: 1000;color: #000000;text-transform: uppercase;font-family: 'Fredericka the Great', cursive;}

.banner p{margin: 1em 0;padding: 0;font-size: 1.2em;font-family: 'Kalam', cursive;line-height: 1.5em;color: #000000;}

/*Pen code from this point on*/
.btn {clear:both;white-space:nowrap;font-size:.8em;display:inline-block;border-radius:5px;box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);margin:2px;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;overflow:hidden}

.btn:hover {box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);}

.btn:focus {box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);}

.btn > span,.btn-icon > i {float:left;padding:13px;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;line-height:1em}

.btn > span {padding:14px 18px 16px;white-space:nowrap;color:#FFF;background:#b8b8b8}

.btn:focus > span {background:#9a9a9a}

.btn-icon > i {border-radius:5px 0 0 5px;position:relative;width:13px;text-align:center;font-size:1.25em;color:#fff;background:#212121}

.btn-icon > i:after {content:"";border:8px solid;border-color:transparent transparent transparent #222;position:absolute;top:13px;right:-15px}

.btn-icon:hover > i,.btn-icon:focus > i {color:#FFF}

.btn-icon > span {border-radius:0 5px 5px 0}

/*Instagram*/
.btn-instagram:hover > i,.btn-instagram:focus > i {color:#833ab4}

.btn-instagram > span {background: linear-gradient(#833ab4,#fd1d1d,#fcb045 );}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {color:#55acee}

.btn-twitter > span {background:#55acee}

/*Google*/
.btn-googleplus:hover > i,.btn-googleplus:focus > i {color:#dd4b39}

.btn-googleplus > span {background:#dd4b39}

/*GitHub*/
.btn-github:hover > i,.btn-github:focus > i {color:#333}

.btn-github > span {background:#333}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {color:#007bb6}

.btn-linkedin > span { background:#007bb6}

/* Tablet Size*/
@media only screen and (max-width : 992px) {
        
.banner{position: relative;background: url("../pictures/amanecer.jpg");min-height: 100vh;background-size: cover;background-position: center;padding: 240px 0 100px;}

#social-platforms {position:relative;top:10vh;font-size:1rem;text-align:center; overflow:hidden;}

    }

  /* Cellphone Size*/
  @media only screen and (max-width : 600px) {


.banner{position: relative;background: url("../pictures/amanecer.jpg");min-height: 100vh;background-size: cover;background-position: center;padding: 262px 0 100px;}

#social-platforms {position:relative;top:10vh;font-size:1rem;text-align:center;overflow:hidden;}
   
/* .footer-copyright {padding: 10px;color: #fff;background: rgba(0, 0, 0, 0);color: rgb(0, 0, 0);font-family: 'Magra', cursive;font-size: 1em;position: absolute;left: 0px;bottom: 0px;overflow-y: auto;} */
 
}

 /* PC Size*/
  @media only screen and (min-width: 768px) { 
      
.banner{position: relative;background: url("../pictures/amanecer.jpg");min-height: 100vh;background-size: cover;background-position: center;padding: 240px 0 100px;}

#social-platforms {position:relative;top:6vh;font-size:1rem;text-align:center;overflow:hidden;}

}
 