---
 const personalImageAlt = "Raul Martos"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Raul. I started programming using Notepad on a computer running Windows 95 when I was 11 years old. I'm currently <strong
        >working as a freelancer on various types of tasks and projects.
      </strong> I'm also <strong>working on  
        practice projects and learning about new technologies,</strong> while taking online courses to earn certifications. 
    </p>

    <p>
      Some of my achievements include <strong
        >contributing to the growth of the first and only </strong
        >Zoho Corporation office in Latin America. 
        Thanks to my performance and skills, I took on responsibilities across multiple areas, which led to three promotions:
        first as a <strong>Solutions Arquitect</strong> simultaneously as
        <strong>Senior Customer Support</strong>, and finally as <strong>Customer Support Lead</strong>.
    </p>

    <p>
      Throughout my career, I have focused on optimizing the <strong>customer experience</strong>, 
      leading strategic initiatives, and improving operational efficiency. 
      At the same time, <strong> I enjoy continuously learning about programming and exploring new technologies,</strong> allowing me to maintain constant professional growth.
    </p>
  </div>

  <img width="200" height="200" src="/perfil_photo.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
